:root {
    --text-color: black;
    --emperor: #555555;
    --mine-shaft: #333333;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

.hide{
    display: none;
}

.text{
    color: var(--text-color);
    text-decoration: none;
    cursor: auto;
    pointer-events: none;
}
.font-family {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24pt;
}

.layout {
    position: relative;
    color: var(--mine-shaft);
    overflow: hidden;
    
}

.flexy {
    overflow-y: auto; 
    overflow-x: hidden;
}

.layout {
    background-image: url('assets/pink-bg.png');
    background-position: top left;
    background-repeat: no-repeat;
  }

.layout .container {
    margin: 0 auto;
    width: 960px;
}

.layout .container h1 {
    font-family: 'Merienda', cursive;
    font-size: 120pt;
    color: var(--emperor);
    margin: 0;
}

.layout .text {
    color: var(--mine-shaft);
}
.layout .detail ul a, .inspired-info a{
    color: var(--emperor);
    font-weight: bold;
}

.layout .detail ul a:hover, .inspire-info a:hover {
    color: var(--text-color);
}

.layout .flex-item .bio,
.layout .flex-item .detail,
.flexy .picture-text {
    opacity: .6;
}

.flexy .flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.image-column {
    display: none;
    position: relative;
}

.flexy .image-column {
    display: block;
}

.images {
    width: 400px;
    /* height: 500px; */
    margin-left: 50px;
}

.images img {
    width: 400px;
    height: auto;
}

.images img, .carousel .images {
    border-color: #A1E6E3;
    border-width: 10px;
    border-style: solid;
    margin-bottom: 20px;
}

.carousel .delete-target{
    display: none;
}

.carousel .flex-item .bio,
.carousel .flex-item .detail,
.carousel .picture-text {
    opacity: 1;
}

.carousel .images {
    /* position: relative; */
    overflow: hidden;
    box-shadow: 70px 70px 0 #FAFBA4;
}

.carousel .carousel-container {
    transition: margin .5s ease-out;
}

.carousel .images img{
    border: none;
    float:left;
    margin: 0; 
    
}

.arrow {
    display: none;
}

.carousel .arrow {
    display: inline;
}

.carousel .arrow.prev {
    position: absolute;
    top: 50%; left: -25px;
}

.carousel .arrow.next {
    position: absolute;
    top: 50%; right: -74px;
}

.inspired-info {
    font-size: 14pt;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 20px;
}